* {
	box-sizing: border-box;
	margin: 0;
	font-family: "Montserrat", sans-serif;
}

html {
	overflow-x: hidden;
}

body {
	line-height: 1.6;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	gap: 1rem;
}

.navbar {
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 3.75rem;
	padding: 0.5rem;
	top: 0;
	left: 0;
	background-color: #fff;
	border-radius: 0 1rem rem;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	z-index: 1000;
}

.menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2rem;
	list-style: none;
	margin: 0;
	padding: 1rem;
}

.menu a {
	padding: 0.5rem;
	text-decoration: none;
	transition: color 0.3s;
	background-color: #fff;
}

.menu a:hover {
	border-radius: 5px;
	background-color: #000;
	color: #fff;
}

.section-title {
	margin-top: 3.75rem;
	margin-left: 10vw;
	padding: 1.25rem;
}

.section-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	width: 80vw;
	height: 100vh;
	margin: 1rem 20vw;
}

.section-content-profile-img {
	width: 25%;
	height: 25%;
	object-fit: cover;
	border-radius: 5px;
}

.section-content-paragraph {
	text-align: justify;
	font-size: 2rem;
}

.service-card {
	flex: 1 1 calc(25% - 2.5rem);
	border-radius: 1rem;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 1rem;
	height: 50%;
	text-align: center;
}

.service-card img {
	max-width: 100%;
	height: auto;
}

.carousel {
	width: 100%;
	max-width: 60vw;
	height: 50rem;
	overflow: hidden;
}

.carousel-cell {
	width: 100%;
	height: 100%;
	display: flex;
}

.carousel-content-logo-row {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	text-align: justify;
}

.carousel-content-logo-column img {
	width: 100%;
	height: 100%;
}

.footer-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	padding: 1.25rem;
	background-color: #333;
	color: #fff;
}

.footer-logo {
	flex: 1;
	justify-self: center;

	img {
		max-width: 20%;
		max-height: 20%;
	}
}

.footer-information {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 1rem;
	width: 100%;

	a {
		color: #fff;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}
}

.footer-social-networks {
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	justify-self: center;
	gap: 2rem;
	width: 100%;
	height: 4rem;
}

.footer-social-networks a {
	display: inline-block;
	height: 100%;
}

.footer-social-networks a img {
	max-height: 100%;
	width: auto;
}

@media (max-width: 768px) {
	.service-card {
		flex: 1 1 calc(50% - 2.5rem);
	}
}

@media (max-width: 480px) {
	.service-card {
		flex: 1 1 calc(50% - 2.5rem);
	}

	.menu {
		display: none;
	}

	.footer-content {
		flex-direction: column;
	}

	.footer-social-networks {
		flex-direction: column;
	}
}
